body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bigtext {
  max-height: 100px;
  overflow-y: scroll;
  display: flex;
}

.companyTable thead {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
  margin: 0 0 0 0;
}
